.home {
    width: 100%;
    height: 722.4px; 
    background-image: url('../Images/home.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.button {
    text-align: center;
}

.text {
    color: white;
    font-size: larger;
    padding-bottom: 20px;
}
