.background{
    background-color: hsl(205, 12%, 19%);
    height: 722.4px;
}

.error{
    margin-left: 2%;
}

.form{
    padding: 20px;
    border-radius: 5px;
    border-color: white;
    background-color: white;
}

.title{
    padding: 50px;
}