.signIn-container {
    padding: 10vh;
}

.signIn-app {
    border-style: solid;
    border-radius: 15px;
    border-color: white;
    background-color: black;
}

.signIn-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 40px;
}

.signIn-text{
    font-size: 12.5px;
}

.signIn-link{
    color: red;
}

.signIn-form {
    border-style: solid;
    border-radius: 15px;
    border-color: white;
    padding: 25px;
    background-color: white;
}